In [6]:
import pandas as pd
import requests

In [3]:
url = "https://api.stlouisfed.org/fred/series/observations"
params = {
    "series_id": "CPIAUCNS",  # Consumer Price Index
    "api_key": "2138ba7c252656b8a9ca85c75ce99dda",
    "file_type": "json"
}

response = requests.get(url, params=params)
data = response.json()

In [8]:
df_macro = pd.DataFrame(data["observations"])
df_macro

     realtime_start realtime_end        date    value
0        2025-02-12   2025-02-12  1913-01-01    9.800
1        2025-02-12   2025-02-12  1913-02-01    9.800
2        2025-02-12   2025-02-12  1913-03-01    9.800
3        2025-02-12   2025-02-12  1913-04-01    9.800
4        2025-02-12   2025-02-12  1913-05-01    9.700
...             ...          ...         ...      ...
1340     2025-02-12   2025-02-12  2024-09-01  315.301
1341     2025-02-12   2025-02-12  2024-10-01  315.664
1342     2025-02-12   2025-02-12  2024-11-01  315.493
1343     2025-02-12   2025-02-12  2024-12-01  315.605
1344     2025-02-12   2025-02-12  2025-01-01  317.671

[1345 rows x 4 columns]

In [9]:
df_macro.to_csv("../data/macro_data.csv", index=False)